doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/auth.js" defer) 
  body(class="bg-bg_gray h-screen")
    div(class="flex flex-col justify-center items-center gap-y-12 h-full my-auto")
      div(class="text-lg font-bold text-center") 
        spn(class="text-rose-700 text-3xl italic") J
        | enny-Ngama
      div(class="w-full md:w-4/5 p-6 pb-12 rounded-lg lg:w-2/5 bg-[#d0e4ed]")
        form.formAuth(action="/" method="post")
          h1(class="font-bold text-secondary-blue text-center my-6  text-2xl p-3 md:text-3xl lg:mb-6 lg:text-center lg:text-4xl xl:text-4xl") Se connecter
          div.card(class="flex flex-col")
            input(type="text" id="email" name="email" placeholder="Adresse email" class="border-2 rounded-lg text-black p-4 md:p-2 text-sm sm:text-base outline-none block w-full my-6 xl:my-1")
            input(type="password" id="password" name="password" placeholder="Mot de passe" class="border-2 rounded-lg text-black p-4 md:p-2 text-sm sm:text-base outline-none block w-full my-6 xl:my-1")
            div(class='block my-6 flex items-center gap-x-3')
              input(type="checkbox" id="viewPassword" class="border-2 rounded-lg w-5 h-5")
              label(for="viewPassword" class="text-black") Afficher le mot de passe
          button(type="submit" class="mt-6 md:mt-2 bg-[#1368a8] text-white p-4 md:p-2 font-bold rounded-lg hover:opacity-80 text-lg") Se connecter
          