extends layout

block content
  div(class='leading-normal mx-auto px-6 lg:px-[5%] 2xl:px-[13%]') 
    h1(class='text-center lg:text-2xl xl:text-4xl mb-12') 
      | Bonjour 
      span.name(class="font-semibold capitalize")
      | ! 
    p(class='text-xl leading-loose') Bienvenue sur le tableau de bord.
    p(class='text-xl leading-loose') Ce tableau de bord vous permet de gérer les messages, vos projets et les paramètres de votre application.
    p(class='text-xl leading-loose') Veuillez sélectionner une option dans le menu ci-contre pour commencer.
