extends layout
  
block content
    div(class="w-max p-6 border-2 border-dashed border-slate-500 flex flex-col items-center")
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
        div Ajouter un projet 
    div(class="mt-12") 
        h2(class='text-2xl text-bold') Listes de projets
        p(class="text-center my-6 text-5xl text-gray-500 italic") Vide...
